<h2> Question for <%= Course.where(:id => @the_question.course_id).at(0).course_name %> </h2>


      <div>
        <a href="/courses/<%=Course.where(:id => @the_question.course_id).at(0).id %>" >
          Go back
        </a>
      </div>

<div>
  <table border="1" style="width:70%" > 
  <tr>
          <th>
          <%=@the_question.description%>
        </th>

        <th>
        <img style="max-width: 500px; max-height: 900px" src="<%=@the_question.image_file%>" class="img-responsive">
        </th>

        <th>
          <%=time_ago_in_words(@the_question.created_at)%>

        </th>
    </tr>
  </table>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit question
    </h2>

    <form action="/modify_question/<%= @the_question.id %>"  method="post" >
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_question.description %>">
      </div>

      <div>
        <label for="image_link_box">
        </label>

        <input type="hidden" id="image_link_box" name="query_image_link" value="<%= @the_question.image_link %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_question.user_id %>">
      </div>

      <div>
        <label for="image_file_box">
          Image file
        </label>

        <input type="file" id="image_file_box" name="query_image_file" value="<%= @the_question.image_file %>">
      </div>

      <div>
        <label for="course_id_box">
          Course
        </label>

        <input type="text" id="course_id_box" name="query_course_id" value="<%= @the_question.course_id %>">
      </div>

      <button>
        Update question
      </button>
    </form>
  </div>
</div>
<hr>

<div>
    <h2>
      Add a new solution
    </h2>

    <form action="/insert_solution" method="post" enctype="multipart/form-data" >
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="image_link_box">
        Image file
        </label>
        <input type="file" id="image_link_box" name="query_image_link" >
      </div>

      <div>
        <label for="user_id_box">
        </label>
        <input type="hidden" id="user_id_box" name="query_user_id" value = "<%=@current_user.id%>">
      </div>

      <div>
        <label for="image_file_box">
        </label>
        <input type="hidden" id="image_file_box" name="query_image_file" value="you">
      </div>

      <div>
        <label for="question_id_box">
        </label>
        <input type="hidden" id="question_id_box" name="query_question_id" value ="<%=@the_question.id%>">
      </div>

      <div>
        <label for="vote_count_box">
        </label>

        <input type="hidden" id="vote_count_box" name="query_vote_count" value = "0">
      </div>

      <div>
        <label for="course_id_box">
        </label>
        <input type="hidden" id="course_id_box" name="query_course_id" value = "<%=Course.where(:id => @the_question.course_id).at(0).id %>">
      </div>

      <button>
        Create solution
      </button>
    </form>
  </div>

<hr>

<h3>Solutions!</h3>

<table border="1" style="width:90%">

<tr>
<th>
Rating
</th>
<th>
Description
</th>
<th>
Image
</th>
<th>
Date Posted
</th>
<th>
Posted By:
</th>

<th>
Up/Down Vote
</th>

</tr>

<%Solution.where(:question_id => @the_question.id).order({:created_at => :desc }).each do |a_solution|%>
        <tr>
        <th>
        In progress
        </th>
        <th>
          <%=a_solution.description%>
        </th>

        <th>
         <img style="max-width: 500px; max-height: 900px" src="<%=a_solution.image_link%>" class="img-responsive">
        </th>

        <th>
          <%=time_ago_in_words(a_solution.created_at)%>

        </th>

        <th>
        <%=User.where(:id => a_solution.user_id).first.pseudo_name%>

        </th>

        <th>

        <button> UpVote</button>
        <button> DownVote</button>
        </th>

      </tr>
      <%end%>

</table>

