Questions asked by <%= @current_user.pseudo_name%>

<table border="1">
<tr>
<th>Course Name</th>

<th>Question Description</th>

<th> Posted </th>

<th> See the question </th>

</tr>


<% Question.where(:user_id => @current_user.id).each do|a_question| %>

<tr>
  <th> <%=Course.where(:id => a_question.course_id).first.course_name%> </th>
  <th> <%=a_question.description%></th>
  <th> <%=a_question.created_at%></th>
  <th> <a href="/questions/<%=a_question.id%>"> See the Question </a></th>
</tr>

<%end%>

</table>


<br>
<a href="/home_page"> Go Back to home_page </a>