<div>
  <div>
    <h1>
      List of all ratings
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new rating
    </h2>

    <form action="/insert_rating" method="post">
      <div>
        <label for="solution_id_box">
          Solution
        </label>

        <input type="text" id="solution_id_box" name="query_solution_id">
      </div>

      <div>
        <label for="vote_count_box">
          Vote count
        </label>

        <input type="text" id="vote_count_box" name="query_vote_count">
      </div>

      <button>
        Create rating
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Solution
        </th>

        <th>
          Vote count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_ratings.each do |a_rating| %>
      <tr>
        <td>
          <%= a_rating.id %>
        </td>

        <td>
          <%= a_rating.solution_id %>
        </td>

        <td>
          <%= a_rating.vote_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_rating.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_rating.updated_at) %> ago
        </td>

        <td>
          <a href="/ratings/<%= a_rating.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
