  
    <center>
      <h1 style="color:black">Class<span style="color:cornflowerblue">Board</span> </h1>
    </center>
    <DIV STYLE="background-color:cornflowerblue; height:10px; width:100%;">
    <br>
  
  
  
  <ul>
    <% if @current_user == nil %>

    <p style="color: red"> 
      <%= notice%>
    </p>

    <li> <a href="/user_sign_in"> Sign in </a>
    </li>
    <li> <a href="/user_sign_up"> Sign Up </a>
    </li>
    <%#sign in, sign up%>
    </ul>
    <%else%>
    <p style="color: green"> 
      <%= notice%>
    </p>

    <li> <a href="/edit_user_profile"> Edit <%=@current_user.pseudo_name%> </a>
    </li>

    <li> <a href="/questions"> View <%=@current_user.pseudo_name%> Questions </a>
    </li>

    <li> <a href="/solutions"> View <%=@current_user.pseudo_name%> Solutions </a>
    </li>

    <li> <a href="/user_sign_out"> Sign out </a>
    </li>
    </ul> 
    <%end%>
    <h3> Choose a Course </h3>

    <table border="1">
        <tr>
          <th>Course Code</th>
          <th>Course Name</th>
          <th>Explore More</th>
        </tr>
          <% Course.all.order(:course_name).each do |a_course|%>
          <tr>
          <th> 
              <%=a_course.course_code%>
          </th>
            
          <th> 
                <%=a_course.course_name%>
          </th>

          <th> 
              <a href="courses/<%=a_course.id%>"> Explore Course Questions </a>
          </th>
          </tr>
          <%end%>
    </table>


  <% if @current_user != nil %>

    <h3> Can't find your course? Upload a new one! </h3>

    <form action="/insert_course" method="post">
      <div>
        <label for="course_name_box">
          Course Name
        </label>

        <input type="text" id="course_name_box" name="query_course_name">
      </div>

      <div>
        <label for="course_id_box">
          Course Code
        </label>

        <input type="text" id="course_id_box" name="query_course_code">
      </div>

      <button>
        Create Course
      </button>
      </form>
  <% else%>
    
  <% end%>


      

    
