<div>
  <div>
    <h1>
      Solution #<%= @the_solution.id %> details
    </h1>

    <div>
      <div>
        <a href="/solutions">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_solution/<%= @the_solution.id %>">
          Delete solution
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @the_solution.description %>
      </dd>

      <dt>
        Image link
      </dt>
      <dd>
        <%= @the_solution.image_link %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_solution.user_id %>
      </dd>

      <dt>
        Image file
      </dt>
      <dd>
        <%= @the_solution.image_file %>
      </dd>

      <dt>
        Question
      </dt>
      <dd>
        <%= @the_solution.question_id %>
      </dd>

      <dt>
        Vote count
      </dt>
      <dd>
        <%= @the_solution.vote_count %>
      </dd>

      <dt>
        Course
      </dt>
      <dd>
        <%= @the_solution.course_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_solution.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_solution.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit solution
    </h2>

    <form action="/modify_solution/<%= @the_solution.id %>"  method="post" >
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_solution.description %>">
      </div>

      <div>
        <label for="image_link_box">
          Image link
        </label>

        <input type="text" id="image_link_box" name="query_image_link" value="<%= @the_solution.image_link %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_solution.user_id %>">
      </div>

      <div>
        <label for="image_file_box">
          Image file
        </label>

        <input type="text" id="image_file_box" name="query_image_file" value="<%= @the_solution.image_file %>">
      </div>

      <div>
        <label for="question_id_box">
          Question
        </label>

        <input type="text" id="question_id_box" name="query_question_id" value="<%= @the_solution.question_id %>">
      </div>

      <div>
        <label for="vote_count_box">
          Vote count
        </label>

        <input type="text" id="vote_count_box" name="query_vote_count" value="<%= @the_solution.vote_count %>">
      </div>

      <div>
        <label for="course_id_box">
          Course
        </label>

        <input type="text" id="course_id_box" name="query_course_id" value="<%= @the_solution.course_id %>">
      </div>

      <button>
        Update solution
      </button>
    </form>
  </div>
</div>

<hr>
