<h2><%=@current_user.pseudo_name%>'s solutions!</h2>
<hr>
<a href="/home_page"> Go Back to home_page </a>
<hr>

<table border="1">
<tr>
<th>Course Name</th>

<th>Solution description</th>

<th>Up Votes</th>

<th> Posted </th>

<th> See the Solution </th>

</tr>

<% Solution.where(:user_id => @current_user.id).order({:vote_count => :desc }).each do|a_solution| %>

<tr>
  <th> <%=Course.where(:id => a_solution.course_id).first.course_name%> </th>
  <th> <%=a_solution.description%></th>
  <th> <%=a_solution.vote_count%></th>
  <th> <%=time_ago_in_words(a_solution.created_at)%></th>
  <th> <a href="/questions/<%=a_solution.question_id%>"> See the Question </a></th>
</tr>

<%end%>

</table>